<%- model_class = Event -%>
<div class="page-header">
  <h1 class="spacer"><%= @event.date %> <small><%= @event.headline %></small> 
    <%= link_to raw("<span class=\"glyphicon glyphicon-pencil\"></span>"),
                      edit_event_path(@event), :class => 'btn btn-default' %> 
    <%= link_to raw("<span class=\"glyphicon glyphicon-trash\"></span>"),
                      event_path(@event),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>

  </h1>
</div>
<div>
  <h4>Description</h4>
   <%= markdown @event.description %>
</div>
<% unless @event.summary.empty? %>
<div>
  <h4>Summary</h4>
  <%= markdown @event.summary %>
</div>
<% end %>
<div>
  <h4>Questions</h4>
</div>
<% if @event.questions.empty? %>
<div class="alert alert-info"><b>No questions yet.</b>  Be the first to post a question.</div>
<% end %>
<table class="table table-striped">
  <tbody>
    <% @event.questions.each do |question| %>
      <tr>
	<td><%= question.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= form_for(@new_question) do |f| %>
<%= f.hidden_field :event_id, :value => @event.id %>
<div class="input-group">
  <%= f.text_field :content, class: 'form-control' %>
  <span class="input-group-btn">
    <%= content_tag :button, :type => :submit, :class => "btn btn-default" do %>
    Ask
    <% end %>
  </span>
</div><!-- /input-group -->
<% end %>


