<%- model_class = Event -%>
<div class="page-header">
  <h1 class="spacer"><%= @event.date %> <small><%= @event.headline %></small> 
    <% if admin? %>
    <%= link_to raw("<span class=\"glyphicon glyphicon-pencil\"></span>"),
                      edit_event_path(@event), :class => 'btn btn-default' %> 
    <%= link_to raw("<span class=\"glyphicon glyphicon-trash\"></span>"),
                      event_path(@event),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
    <% end %>
  </h1>
</div>
<% if @event.locked? %>
<div class="panel panel-danger">
<div class="panel-heading">Please give feedback for this event</div>
  <div class="panel-body">
    <%= link_to raw("<span class=\"glyphicon glyphicon-thumbs-up\"></span>"),
                      positive_feedback_event_path(@event),
                      :method => 'post',
                      :class => 'btn btn-mini btn-primary' %>
    
    <%= link_to raw("<span class=\"glyphicon glyphicon-thumbs-down\"></span>"),
                      negative_feedback_event_path(@event),
                      :method => 'post',
                      :class => 'btn btn-mini btn-primary' %>

    <% if @event.feedback_total > 0 %>
    <h6>
    <%= @event.positive_feedback %> votes were positive out of <%= @event.feedback_total %>. 
    This translates to an employee NPS (Net Provider Score) of <%= number_to_percentage(@event.positive_feedback.to_f / @event.feedback_total.to_f * 100) %>
    </h6>
    <% end %>
  </div>
</div>
<% end %>
<div>
  <h4>Description</h4>
   <%= markdown @event.description %>
</div>
<% unless @event.summary.empty? %>
<div>
  <h4>Summary</h4>
  <%= markdown @event.summary %>
</div>
<% end %>
<div>
  <h4>Questions</h4>
</div>
<% if @event.questions.empty? %>
<div class="alert alert-info"><b>No questions yet.</b>  Be the first to post a question.</div>
<% end %>
<table class="table table-striped">
  <tbody id="event_questions">
    <% @event.questions.each do |question| %>
    <%= render 'question', :question => question, :event => @event  %>
    <% end %>
  </tbody>
</table>
<% unless @event.locked? %>
<%= form_for(@new_question) do |f| %>
<%= f.hidden_field :event_id, :value => @event.id %>
<div class="input-group">
  <%= f.text_field :content, class: 'form-control' %>
  <span class="input-group-btn">
    <%= content_tag :button, :type => :submit, :class => "btn btn-default" do %>
    Ask
    <% end %>
 <% end %>
  </span>
</div><!-- /input-group -->
<% end %>


